In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics 
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import time
import math
# from tensorflow import keras
from sklearn.metrics import mean_absolute_error, mean_squared_error, accuracy_score, r2_score
from keras.models import Sequential
from keras.layers import Dense, Dropout,Input
from pathlib import Path
from keras.layers import LSTM
from keras.layers import Activation 
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from keras.layers import Embedding, Flatten, Conv1D, SpatialDropout1D
# from keras.layers import Embedding,Conv1D,LSTM,Input,TimeDistributed,,Flatten,Dropout
from tensorflow.keras.optimizers import Adam
from sklearn import preprocessing
from tensorflow.keras.utils import to_categorical
from keras.metrics import categorical_crossentropy
from sklearn.metrics import f1_score

In [12]:
# labels = ['syn_data_0','syn_data_1',"syn_data_2","syn_data_3","syn_data_4", "syn_data_5","syn_data_6","syn_data_7","syn_data_8","syn_data_9"]
labels = ['India', 'Italy', 'Pakistan', 'Philippines', 'Portugal', 'Singapore', 'Sweden', 'Thailand', 'Tunisia','UK',"Scales","Medium_US"]
def get_data(c):
       # df = pd.read_csv("D:\\Projects\Federated Learning\\Datasets\\Fed Dataset Thermal (Transfer Learning Paper)\\"+self.country+".csv")
        df = pd.read_csv('../Data/Correlation Based Data/'+c+'.csv')
        y = df['Thermal sensation']
        drop_list = ['Unnamed: 0','Publication (Citation)','Data contributor','Heating strategy_building level',
                     'Year','Koppen climate classification','Climate','Building type','Database',
                     'City','Country','Outdoor monthly air temperature (Â¡C)','Thermal preference','Season','Cooling startegy_building level',
                     'Air movement preference','Humidity preference','Thermal comfort','PMV','Thermal sensation']
        drop = list(set(df.columns).intersection(drop_list))
        X = df.drop(drop, axis = 1)
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
        return X_train, X_test, y_train, y_test

In [13]:
# path = 'Synthetic Data Results/'
path = 'countries results/'

# Decision Tree

In [15]:
#labels = ['India', 'Italy', 'Pakistan', 'Philippines', 'Portugal', 'Singapore', 'Sweden', 'Thailand', 'Tunisia','UK',"Scales","Medium_US"]
# labels = ['data_0','data_1',"data_2","data_3","data_4", "data_5","data_6","data_7","data_8","data_9","Scales","Medium_US"]
# labels = ['syn_data_0','syn_data_1',"syn_data_2","syn_data_3","syn_data_4", "syn_data_5","syn_data_6","syn_data_7","syn_data_8","syn_data_9"]
acc_all = []
acc_all = []
for i in labels:

    X_train, X_test, y_train, y_test = get_data(i)
    clf = DecisionTreeClassifier()
    clf = clf.fit(X_train,y_train)
    y_pred_train = clf.predict(X_train)
    dt_acc_train = accuracy_score(y_train, y_pred_train)
    dt_f1_train = f1_score(y_train, y_pred_train, average='weighted')
    
    y_pred = clf.predict(X_test)
    dt_acc = accuracy_score(y_test, y_pred)
    dt_f1 = f1_score(y_test, y_pred, average='weighted')
    t = [i,dt_acc,dt_f1,dt_acc_train,dt_f1_train]
    acc_all.append(t)
df = pd.DataFrame(acc_all, columns = ['Client','DT Acc','DT F1','DT Acc Train','DT F1 Train'])
df.to_csv(path+'Decision Tree Normal  performance.csv')
df

         Client    DT Acc     DT F1  DT Acc Train  DT F1 Train
0         India  0.403041  0.404354      0.995089     0.995094
1         Italy  0.505882  0.505294      0.994924     0.994881
2      Pakistan  0.666667  0.669295      0.999660     0.999660
3   Philippines  0.273810  0.265941      1.000000     1.000000
4      Portugal  0.478632  0.478325      1.000000     1.000000
5     Singapore  0.339869  0.333869      0.862745     0.863411
6        Sweden  0.570447  0.558288      1.000000     1.000000
7      Thailand  0.327586  0.332595      1.000000     1.000000
8       Tunisia  0.554435  0.555646      1.000000     1.000000
9            UK  0.343474  0.344287      0.966719     0.966683
10       Scales  0.156051  0.157340      0.631579     0.611097
11    Medium_US  0.421648  0.428988      0.995845     0.995845

# Decision Tree Entropy

In [23]:

acc_all = []
for i in labels:
    X_train, X_test, y_train, y_test = get_data(i)
    clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)
    clf = clf.fit(X_train,y_train)
    y_pred_train = clf.predict(X_train)
    dt_acc_train = accuracy_score(y_train, y_pred_train)
    dt_f1_train = f1_score(y_train, y_pred_train, average='weighted')
    
    y_pred = clf.predict(X_test)
    dt_acc = accuracy_score(y_test, y_pred)
    dt_f1 = f1_score(y_test, y_pred, average='weighted')
    t = [i,dt_acc,dt_f1,dt_acc_train,dt_f1_train]
    acc_all.append(t)
df = pd.DataFrame(acc_all, columns = ['Client','DT Acc','DT F1','DT Acc Train','DT F1 Train'])
df.to_csv(path+'Decision Tree Entropy  performance.csv')

In [45]:
df

       Client    DT Acc     DT F1  DT Acc Train  DT F1 Train
0  syn_data_0  0.613333  0.593731      0.641429     0.620734
1  syn_data_1  0.601667  0.610566      0.628929     0.637167
2  syn_data_2  0.646667  0.648693      0.657143     0.662251
3  syn_data_3  0.641333  0.629847      0.630857     0.617456
4  syn_data_4  0.633333  0.636236      0.655429     0.655575
5  syn_data_5  0.621505  0.619830      0.638249     0.639443
6  syn_data_6  0.583704  0.581611      0.626349     0.622880
7  syn_data_7  0.600980  0.593654      0.635714     0.629596
8  syn_data_8  0.557692  0.557760      0.566209     0.568352
9  syn_data_9  0.602778  0.596172      0.631548     0.625169

# KNN

# AdaBoost

In [16]:
from sklearn.ensemble import AdaBoostClassifier

In [17]:

acc_all = []
for i in labels:
    X_train, X_test, y_train, y_test = get_data(i)
    clf = AdaBoostClassifier(n_estimators=100, random_state=0)
    clf = clf.fit(X_train,y_train)
    y_pred_train = clf.predict(X_train)
    dt_acc_train = accuracy_score(y_train, y_pred_train)
    dt_f1_train = f1_score(y_train, y_pred_train, average='weighted')
    
    y_pred = clf.predict(X_test)
    dt_acc = accuracy_score(y_test, y_pred)
    dt_f1 = f1_score(y_test, y_pred, average='weighted')
    t = [i,dt_acc,dt_f1,dt_acc_train,dt_f1_train]
    acc_all.append(t)
df = pd.DataFrame(acc_all, columns = ['Client','AdaBoost Acc','AdaBoost F1','AdaBoost Acc Train','AdaBoost F1 Train'])
df.to_csv(path+'AdaBoost  performance.csv')
df

,Client,AdaBoost Acc,AdaBoost F1,AdaBoost Acc Train,AdaBoost F1 Train
0,India,0.474693,0.416240,0.474911,0.419570
1,Italy,0.364706,0.382279,0.431472,0.446239
2,Pakistan,0.556349,0.540246,0.549166,0.531857
3,Philippines,0.285714,0.295419,0.393782,0.400938
4,Portugal,0.536325,0.490808,0.580202,0.538262
5,Singapore,0.316993,0.295119,0.403361,0.389491
6,Sweden,0.597938,0.575011,0.603829,0.569516
7,Thailand,0.356322,0.335019,0.368681,0.351195
8,Tunisia,0.528226,0.485621,0.531602,0.492733
9,UK,0.394259,0.311130,0.398686,0.319284
10,Scales,0.366242,0.322143,0.416951,0.377695
11,Medium_US,0.449111,0.379333,0.443213,0.385933

# Bagging Classifier

In [18]:
from sklearn.ensemble import BaggingClassifier
from sklearn.svm import SVC

In [19]:

acc_all = []
for i in labels:
    X_train, X_test, y_train, y_test = get_data(i)
    clf = BaggingClassifier(base_estimator=SVC(), n_estimators=10, random_state=0)
    clf = clf.fit(X_train,y_train)
    y_pred_train = clf.predict(X_train)
    dt_acc_train = accuracy_score(y_train, y_pred_train)
    dt_f1_train = f1_score(y_train, y_pred_train, average='weighted')
    
    y_pred = clf.predict(X_test)
    dt_acc = accuracy_score(y_test, y_pred)
    dt_f1 = f1_score(y_test, y_pred, average='weighted')
    t = [i,dt_acc,dt_f1,dt_acc_train,dt_f1_train]
    acc_all.append(t)
df = pd.DataFrame(acc_all, columns = ['Client','Bagging Acc','Bagging F1','Bagging Acc Train','Bagging F1 Train'])
df.to_csv(path+'Bagging SVC  performance.csv')
df

         Client  Bagging Acc  Bagging F1  Bagging Acc Train  Bagging F1 Train
0         India     0.449906    0.310814           0.454732          0.317402
1         Italy     0.552941    0.393761           0.558376          0.400139
2      Pakistan     0.639683    0.566583           0.620619          0.541485
3   Philippines     0.321429    0.226160           0.393782          0.297747
4      Portugal     0.615385    0.468864           0.632447          0.490049
5     Singapore     0.385621    0.265990           0.427171          0.307645
6        Sweden     0.697595    0.573327           0.677467          0.547208
7      Thailand     0.462644    0.374948           0.454994          0.379795
8       Tunisia     0.582661    0.476760           0.588745          0.491819
9            UK     0.386286    0.255428           0.381651          0.251538
10       Scales     0.425159    0.316947           0.433356          0.328903
11    Medium_US     0.508885    0.343252           0.480609          0.312014

# GradientBoostingClassifier

In [20]:
from sklearn.ensemble import GradientBoostingClassifier

In [21]:

acc_all = []
for i in labels:
    X_train, X_test, y_train, y_test = get_data(i)
    clf = BaggingClassifier(base_estimator=SVC(), n_estimators=10, random_state=0)
    clf = clf.fit(X_train,y_train)
    y_pred_train = clf.predict(X_train)
    dt_acc_train = accuracy_score(y_train, y_pred_train)
    dt_f1_train = f1_score(y_train, y_pred_train, average='weighted')
    
    y_pred = clf.predict(X_test)
    dt_acc = accuracy_score(y_test, y_pred)
    dt_f1 = f1_score(y_test, y_pred, average='weighted')
    t = [i,dt_acc,dt_f1,dt_acc_train,dt_f1_train]
    acc_all.append(t)
df = pd.DataFrame(acc_all, columns = ['Client','GB Acc','GB F1','GB Acc Train','GB F1 Train'])
df.to_csv(path+'GradientBoostingClassifier performance.csv')
df

         Client    GB Acc     GB F1  GB Acc Train  GB F1 Train
0         India  0.449906  0.310814      0.454732     0.317402
1         Italy  0.552941  0.393761      0.558376     0.400139
2      Pakistan  0.639683  0.566583      0.620619     0.541485
3   Philippines  0.321429  0.226160      0.393782     0.297747
4      Portugal  0.615385  0.468864      0.632447     0.490049
5     Singapore  0.385621  0.265990      0.427171     0.307645
6        Sweden  0.697595  0.573327      0.677467     0.547208
7      Thailand  0.462644  0.374948      0.454994     0.379795
8       Tunisia  0.582661  0.476760      0.588745     0.491819
9            UK  0.386286  0.255428      0.381651     0.251538
10       Scales  0.425159  0.316947      0.433356     0.328903
11    Medium_US  0.508885  0.343252      0.480609     0.312014

# SVM All

In [22]:
acc_all = []
from sklearn import svm
for i in labels:
    X_train, X_test, y_train, y_test = get_data(i)
    rbf = svm.SVC(kernel='rbf', gamma=0.5, C=0.1).fit(X_train, y_train)
    poly = svm.SVC(kernel='poly', degree=3, C=1).fit(X_train, y_train)
    linear = svm.SVC(kernel='linear', degree=3, C=1).fit(X_train, y_train)
    
    poly_pred_train = poly.predict(X_train)
    rbf_pred_train = rbf.predict(X_train)
    linear_pref_train = linear.predict(X_train)
    
    poly_accuracy_train = accuracy_score(y_train, poly_pred_train)
    poly_f1_train = f1_score(y_train, poly_pred_train, average='weighted')
    rbf_accuracy_train = accuracy_score(y_train, rbf_pred_train)
    rbf_f1_train = f1_score(y_train, rbf_pred_train, average='weighted')
    linear_accuracy_train = accuracy_score(y_train, linear_pref_train)
    linear_f1_train = f1_score(y_train, linear_pref_train, average='weighted')
    
    poly_pred = poly.predict(X_test)
    rbf_pred = rbf.predict(X_test)
    linear_pref = linear.predict(X_test)
    poly_accuracy = accuracy_score(y_test, poly_pred)
    poly_f1 = f1_score(y_test, poly_pred, average='weighted')
    rbf_accuracy = accuracy_score(y_test, rbf_pred)
    rbf_f1 = f1_score(y_test, rbf_pred, average='weighted')
    linear_accuracy = accuracy_score(y_test, linear_pref)
    linear_f1 = f1_score(y_test, linear_pref, average='weighted')
    
    t = [i,linear_accuracy,linear_f1,rbf_accuracy,rbf_f1,poly_accuracy,poly_f1,
        linear_accuracy_train,linear_f1_train,rbf_accuracy_train,rbf_f1_train,poly_accuracy_train,poly_f1_train]
    acc_all.append(t)
df = pd.DataFrame(acc_all, columns = ['Client','Linear Acc','Linear F1', 'RBF Acc','RBF F1','Poly Acc','Poly F1','Linear Acc Train','Linear F1 Train', 'RBF Acc Train','RBF F1 Train','Poly Acc Train','Poly F1 Train' ])
df.to_csv(path+'SVM performance.csv')
df

,Client,Linear Acc,Linear F1,RBF Acc,RBF F1,Poly Acc,Poly F1,Linear Acc Train,Linear F1 Train,RBF Acc Train,RBF F1 Train,Poly Acc Train,Poly F1 Train
0,India,0.449906,0.310814,0.454732,0.317402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Italy,0.552941,0.393761,0.558376,0.400139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pakistan,0.639683,0.566583,0.620619,0.541485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Philippines,0.321429,0.226160,0.393782,0.297747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Portugal,0.615385,0.468864,0.632447,0.490049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Singapore,0.385621,0.265990,0.427171,0.307645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sweden,0.697595,0.573327,0.677467,0.547208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Thailand,0.462644,0.374948,0.454994,0.379795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Tunisia,0.582661,0.476760,0.588745,0.491819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,UK,0.386286,0.255428,0.381651,0.251538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Scales,0.425159,0.316947,0.433356,0.328903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Medium_US,0.508885,0.343252,0.480609,0.312014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,India,0.455738,0.311683,0.416580,0.245011,0.452197,0.317811,0.456250,0.312539,0.421161,0.249622,0.455804,0.321989
13,Italy,0.564706,0.496066,0.552941,0.393761,0.552941,0.396767,0.659898,0.617690,0.558376,0.400139,0.573604,0.433109
14,Pakistan,0.639683,0.561431,0.468254,0.298670,0.642857,0.569838,0.620279,0.535689,0.469888,0.300424,0.620619,0.541387
15,Philippines,0.392857,0.316855,0.380952,0.210181,0.380952,0.284147,0.440415,0.371792,0.373057,0.202718,0.414508,0.337469
16,Portugal,0.615385,0.468864,0.615385,0.468864,0.615385,0.468864,0.632447,0.490049,0.632447,0.490049,0.632447,0.490049
17,Singapore,0.352941,0.287847,0.349673,0.181187,0.366013,0.288684,0.446779,0.373163,0.340336,0.172835,0.425770,0.353025
18,Sweden,0.697595,0.573327,0.697595,0.573327,0.697595,0.573327,0.677467,0.547208,0.677467,0.547208,0.677467,0.547208
19,Thailand,0.479885,0.378793,0.390805,0.219626,0.459770,0.376043,0.452528,0.355459,0.358816,0.189502,0.453761,0.380983
20,Tunisia,0.629032,0.548014,0.477823,0.308988,0.598790,0.508998,0.625974,0.542511,0.470996,0.301615,0.606061,0.526273
21,UK,0.391192,0.264268,0.354637,0.188167,0.388003,0.257514,0.388118,0.261898,0.351945,0.187428,0.383070,0.253580
22,Scales,0.433121,0.261798,0.433121,0.261798,0.429936,0.295794,0.429255,0.257840,0.429255,0.257840,0.434040,0.307415
23,Medium_US,0.508885,0.343252,0.510501,0.346826,0.508885,0.343252,0.480609,0.312014,0.482687,0.316569,0.480609,0.312014

In [ ]:
dt_f1